.sponsors-carousel {
  padding: 0.5rem 0;
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsors-carousel-track {
  animation: sponsors-scroll 60s linear infinite; /* Más lento */
}

.sponsor-carousel-item {
}

@media (max-width: 640px) {
  .sponsors-carousel {
    padding: 0.5rem 0;
  }

  .sponsors-carousel-track {
  }

  .sponsor-carousel-item {
  }
}
